@import "tailwindcss";

@theme {
  --color-corporativo-light: #3b82f6;
  --color-corporativo: #1e40af;
  --color-corporativo-dark: #1e3a8a;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-800 antialiased;
  }
}
